<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your review</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/edit.css">
</head>

<body>
    <div id="navbar">
        <div class="nav-links">
            <ul>
                <li><a id="logo" href="{{ url_for('index') }}">PB</a></li>
                <li>
                    <form action="{{ url_for('search') }}" method="GET" spellcheck="false">
                        <div id="form">
                            <input id="searchbar" type="text" name="search" placeholder="ISBN/Title/Author"
                                autocomplete="off" required>
                            <button id="search" type="submit">
                                <svg class="bi bi-search" width="20px" height="20px" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                    <path fill-rule="evenodd"
                                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </li>
                <div id="elements">
                    <li><a class="nav-element1" href="{{ url_for('profile') }}">{{username}}</a></li>
                    <li><a class="nav-element2" href="{{ url_for('login') }}">Dashboard</a></li>
                    <li><a class="nav-element3" href="{{ url_for('logout') }}">Log out</a></li>
                </div>
            </ul>
        </div>
        <div class="hamburger">
            <div class="line line-top"></div>
            <div class="line line-mid"></div>
            <div class="line line-bottom"></div>
        </div>
    </div>
    <h1>Edit your review</h1>
    <form id="review" action="{{ url_for('edit_review_redirect', isbn=isbn) }}" method="POST">
        <div class="starinput">
            <div class="stars">
                <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star" value="1" checked />
                <label class="star star-1" for="star-1"></label>
            </div>
        </div>
        <div id="text-area">
            <textarea name="review" rows=10 cols=80% placeholder="Enter your review here..."
                required>{% if old_review != None %}{{ old_review }}{% endif %}</textarea>
            <button type="submit">Update</button>
        </div>
    </form>
</body>
<script>
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector(".nav-links");
    const links = document.querySelectorAll(".nav-links li");
    const body = document.querySelector(".body");

    hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("open");
        body.classList.toggle("open");
        hamburger.classList.toggle("open");
    });
</script>
</html>