@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#navbar {
  background: #201e20;
  opacity: 1;
}

#navbar #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Pirata One', sans-serif;
  font-size: 60px;
  text-shadow: black -5px 5px 2px;
  color: #E0A96D;
}

#navbar .nav-element1:hover, #navbar .nav-element2:hover, #navbar .nav-element3:hover {
  opacity: 1;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

#navbar #logo:hover {
  opacity: 1;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  color: #ddc3a5;
}

#navbar a {
  text-decoration: none;
  color: #ddc3a5;
}

#navbar a:hover {
  color: #ddc3a5;
}

#navbar li {
  list-style: none;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

#navbar #elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.nav-element1,
.nav-element3 {
  opacity: 0.8;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #ddc3a5;
  text-shadow: -2px 2px 2px black;
}

body {
  background: white;
  color: #090909;
  height: 100%;
}

.nav-element2 {
  opacity: 1;
  font-size: 20px;
  color: #ddc3a5;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  text-shadow: -2px 2px 2px black;
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: #201e20;
  pointer-events: none;
  font-weight: bold;
  margin-top: 80px;
}

h2 {
  text-align: center;
  color: #201e20;
  font-size: 3rem;
  padding-left: 5px;
  font-weight: bold;
  margin-top: 100px;
}

form {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form #form {
  position: relative;
}

form input {
  width: 300px;
  padding: 5px 40px;
  height: 50px;
  outline: none;
  background: #201e20;
  color: #E0A96D;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  -webkit-transition: width 1s;
  transition: width 1s;
}

form button {
  position: absolute;
  top: 7.7px;
  right: 20px;
  background: transparent;
  border: none;
  color: #E0A96D;
  font-size: 20px;
}

form button:hover {
  color: #ddc3a5;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

form button:active,
form button:focus {
  outline-style: none;
}

form input:active,
form input:focus {
  background: white;
  border: 2px solid #201e20;
  width: 550px;
  -webkit-transition: width 1s;
  transition: width 1s;
  color: #201e20;
}

::-webkit-input-placeholder {
  color: #ddc3a5;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

:-ms-input-placeholder {
  color: #ddc3a5;
  filter: sepia(1);
}

::-ms-input-placeholder {
  color: #ddc3a5;
  filter: sepia(1);
}

::placeholder {
  color: #ddc3a5;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.sorry {
  color: #201e20;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

.swiper-wrapper a {
  color: #E0A96D;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-wrapper a p:nth-child(4),
.swiper-wrapper a p:nth-child(6) {
  margin-top: -13px;
}

.swiper-slide {
  padding: 20px;
  background-position: center;
  background-size: cover;
  background: #201e20;
}

.swiper-slide h3 {
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
}

.swiper-slide .author {
  width: 200px;
  text-align: center;
}

.swiper-slide .detail {
  color: #ddc3a5;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.swiper-slide .bookhead {
  color: #E0A96D;
}

.swiper-slide img {
  width: 150px;
  height: 229px;
}

.swiper-slide #contents {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#seemore {
  background: transparent;
  font-size: 3rem;
  text-align: center;
}

#seemore a {
  color: #201e20;
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

#seemore a:hover {
  color: #007aff;
}

#genrehead {
  text-align: center;
  font-size: 2.7rem;
  color: #201e20;
  margin-bottom: -30px;
}

@media screen and (max-width: 800px) {
  .swiper-button-next:active,
  .swiper-button-next:focus,
  .swiper-button-prev:active,
  .swiper-button-prev:focus {
    outline: none;
  }
  #outerdiv #bookabout {
    margin-top: 20px;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #outerdiv #bookabout #rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #outerdiv #bookabout #rating-container #rating1,
  #outerdiv #bookabout #rating-container #rating2 {
    margin: 10px;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 3;
  }
  .hamburger .line-top,
  .hamburger .line-mid,
  .hamburger .line-bottom {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .body.open {
    overflow: hidden;
  }
  .hamburger.open .line-top {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    position: absolute;
    top: 25%;
  }
  .hamburger.open .line-mid {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }
  .hamburger.open .line-bottom {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
    position: absolute;
    top: 25%;
  }
  .nav-links {
    width: 100%;
    height: 100vh;
    background: #201e20;
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    pointer-events: none;
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .nav-links ul #elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar {
    height: 60px;
    background: #201e20;
    position: relative;
  }
  #navbar #logo {
    font-size: 5.5rem;
  }
  #navbar li {
    margin: 3vh 0;
  }
}

@media screen and (max-height: 350px) and (max-width: 800px) {
  .nav-links ul #elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #navbar #elements {
    width: 100%;
  }
  #navbar #logo {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 415px) {
  .swiper-container {
    width: 90%;
  }
  #genrehead {
    text-align: center;
    font-size: 2.2rem;
    color: #201e20;
    margin-bottom: -30px;
  }
  form #form {
    width: 85%;
  }
  form input {
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  form #searchbar {
    width: 80vw;
    font-size: 1rem;
  }
  form input:active,
  form input:focus {
    background: white;
    border: 2px solid #201e20;
    -webkit-transition: none;
    transition: none;
    color: #201e20;
    width: 100%;
  }
  h1 {
    margin-top: 120px;
    font-size: 3rem;
  }
  h2 {
    margin-top: 80px;
    font-size: 1.75rem;
  }
}
/*# sourceMappingURL=dashboard.css.map */