@import "reference.scss";
@import "navbar.scss";
.nav-element1,
.nav-element3,
.nav-element2 {
  opacity: 0.8;
  // text-shadow: black -3px 3px 2px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: $beige;
  text-shadow: -2px 2px 2px black;
}
#booklinks {
  color: $black-brown;
  a {
    color: $black-brown;
  }
  a:hover {
    color: #007aff;
    text-decoration: none;
  }
}
#hint {
  text-align: center;
  color: $black-brown;
  opacity: 0.8;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  #form {
    position: relative;
  }
  input {
    //   width: 300px;
    padding: 5px 40px;
    height: 50px;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    text-align: center;
    background: white;
    border: 2px solid $black-brown;
    width: 100%;
    color: $black-brown;
  }
  button {
    position: absolute;
    top: 7.7px;
    right: 20px;
    background: transparent;
    border: none;
    color: $tan;
    font-size: 20px;
  }
  button:hover {
    color: $beige;
    filter: sepia(1);
  }
  button:active,
  button:focus {
    outline-style: none;
  }
}

::placeholder {
  color: $black-brown;
  opacity: 0.9;
}

@media screen and (max-width: 800px) {
  .title{
    color: #007aff;
  }
  #hint{
    margin-top: 20px;
    width: 100%;
    padding: 0px 15px;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
    .line-top,
    .line-mid,
    .line-bottom {
      transition: all 1s ease-out;
    }
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .body.open {
    overflow: hidden;
  }
  .hamburger.open {
    .line-top {
      transform: rotate(405deg);
      position: absolute;
      top: 25%;
    }
    .line-mid {
      transform: translateX(-100%);
      opacity: 0;
      pointer-events: none;
    }
    .line-bottom {
      transform: rotate(495deg);
      position: absolute;
      top: 25%;
    }
  }
  .nav-links {
    width: 100%;
    height: 100vh;
    background: $black-brown;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    // display: none;
    transition: all 1s ease-out;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    pointer-events: none;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      #elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #navbar {
    height: 60px;
    background: $black-brown;
    position: relative;
    width: 100%;
    #logo {
      font-size: 5.5rem;
    }
    li {
      margin: 3vh 0;
    }
  }
}
@media screen and (max-height: 350px) and (max-width: 800px) {
  .nav-links {
    ul {
      #elements {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
  #navbar {
    #elements {
      width: 100%;
    }
    #logo {
      font-size: 4.5rem;
    }
  }
}
@media screen and (max-width: 415px) {
  form {
    #searchbar {
      width: 80vw;
      font-size: 1rem;
    }
  }
  .datetime {
    position: static;
  }
  .review-edit-delete {
    display: flex;
    flex-direction: column;
    p {
      width: 100%;
    }
    .edit-delete {
      margin-top: 15px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  #outer-review-div {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px 15px;
    align-items: center;
    justify-content: center;
  }
}
